<div *ngIf="category">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Code</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="category.code" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Nom</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="category.name" id="example-text-input">
        </div>
    </div>
    <button type="button" [disabled]="isInvalid()" class="btn btn-primary pull pull-right" (click)="valider()">Valider</button>
</div>
