<div class="container">  
  <div class="form-group row">
    <h2 class="col-6">
      Liste des directeurs de film
      <button type="button" class="btn btn-primary" (click)="load()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </h2>   
    <div class="col-2"></div>
    <div class="col-2">
        <input class="form-control" type="text" [(ngModel)]="firstName" id="example-text-input" placeholder="Prénom du directeur">
    </div>
    <div class="col-2">
        <input class="form-control" type="text" [(ngModel)]="name" id="example-text-input" placeholder="Nom du directeur">
    </div>
  </div>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let director of directors | filterByDirector : name : firstName">
        <td *ngIf="director.show">{{director.firstName}}</td>
        <td *ngIf="director.show">{{director.name}}</td>
        <td *ngIf="director.show">
            <a class="btn btn-primary" href="#" role="button" (click)="edit(director.id)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a class="btn btn-danger" href="#" role="button" (click)="delete(director.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            <a class="btn btn-secondary" href="#" role="button" (click)="voir(director.id)">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
      </tr>
    </tbody>
  </table>
</div>