.col-lg-4 .col-md-4{
    margin-bottom: 1.5rem;
    text-align: center;
}
.col-md-4{
    text-align:center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-lg-4 .col-md-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    max-width: 1200px;
}

h2{
    text-align: center;
}