<div class="modal-header">
    <h4 *ngIf="type == 'actor'" class="modal-title">Formulaire acteur</h4>
    <h4 *ngIf="type == 'movie'" class="modal-title">Formulaire film</h4>
    <h4 *ngIf="type == 'director'" class="modal-title">Formulaire directeur</h4>
    <h4 *ngIf="type == 'character'" class="modal-title">Formulaire personnage</h4>
    <h4 *ngIf="type == 'category'" class="modal-title">Formulaire catégorie</h4>

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form-actor-root [id]="id" *ngIf="type == 'actor'"></form-actor-root>
    <form-movie-root [id]="id" *ngIf="type == 'movie'"></form-movie-root>
    <form-director-root [id]="id" *ngIf="type == 'director'"></form-director-root>
    <form-character-root [id]="id" *ngIf="type == 'character'"></form-character-root>
    <form-category-root [id]="id" *ngIf="type == 'category'"></form-category-root>
</div>

<!-- 
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
-->