<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" (click)="onSelect(0)" href="#">Projet cinema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Actors</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" (click)="onSelect(1)" href="#">List</a>
          <a class="dropdown-item" (click)="onSelect(2)" href="#">Add</a>
        </div>
      </li>
      <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Movies</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" (click)="onSelect(2)" href="#">List</a>
          <a class="dropdown-item" (click)="onSelect(4)" href="#">Add</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<br><br><br>
<list-actor-root *ngIf="listActorSelected"></list-actor-root>
<list-movie-root *ngIf="listMovieSelected"></list-movie-root>


<br>
<div class="container">
  <hr>
  <footer class="">
    <p>Make with <i class="fa fa-heart" aria-hidden="true"></i> by Joymangul and Moisson</p>
  </footer>
</div> <!-- /container -->