.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: -3px;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  nav{
    background-color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet) !important;

    -webkit-animation-name: changeColorBis;
    /* -webkit-animation-name: blackWhiteFade; */
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 0.9s; 
  }

  @-webkit-keyframes changeColor {  
    0% { background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);  }
    17% { background: linear-gradient(to right,violet, red,orange,yellow,green,blue,indigo); }
    34% { background: linear-gradient(to right,indigo, violet, red,orange,yellow,green,blue); }
    51% { background: linear-gradient(to right,blue, indigo, violet, red,orange,yellow,green); }
    70% { background: linear-gradient(to right,green,blue, indigo, violet, red,orange,yellow); }
    85% { background: linear-gradient(to right,yellow,green,blue, indigo, violet, red,orange); }
    100% { background: linear-gradient(to right,orange,yellow, green,blue, indigo, violet, red); }
  }

  @-webkit-keyframes changeColorBis {  
    0% { background: radial-gradient(red 0%, yellow 50%, orange 60%);  }
    7% { background: radial-gradient(red 10%, yellow 60%, orange 70%);  }
    14% { background: radial-gradient(red 20%, yellow 70%, orange 80%);  }
    21% { background: radial-gradient(red 30%, yellow 80%, orange 90%);  }
    28% { background: radial-gradient(red 40%, yellow 90%, orange 100%);  }
    35% { background: radial-gradient(orange 0%, red 50%, yellow 60%);  }
    42% { background: radial-gradient(orange 10%, red 60%, yellow 70%);  }
    49% { background: radial-gradient(orange 20%, red 70%, yellow 80%);  }
    56% { background: radial-gradient(orange 30%, red 80%, yellow 90%);  }
    63% { background: radial-gradient(orange 40%, red 90%, yellow 100%);  }
    70% { background: radial-gradient(yellow 0%,orange 50%, red 60%);  } 
    77% { background: radial-gradient(yellow 10%,orange 60%, red 70%);  } 
    85% { background: radial-gradient(yellow 20%,orange 70%, red 80%);  } 
    93% { background: radial-gradient(yellow 30%,orange 80%, red 90%);  } 
    100% { background: radial-gradient(yellow 40%,orange 90%, red 100%);  }    
  }