<div *ngIf="actor">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Nom</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="actor.name" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Prénom</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="actor.firstName" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Date de naissance</label>
        <div class="col-10">
            <input class="form-control" type="date" [(ngModel)]="actor.birthday" id="example-date-input">
        </div>
    </div>   
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Date de mort</label>
        <div class="col-10">
            <input class="form-control" type="date" [(ngModel)]="actor.deathDate" id="example-date-input">
        </div>
    </div> 
    <button type="button" class="btn btn-primary pull pull-right" (click)="valider()">Valider</button>
</div>
