<div *ngIf="character">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Nom personnage</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="character.name" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Film</label>
        <div class="col-10">
            <select class="form-control" required [(ngModel)]="character.idFilm" name="movie">
                <option *ngFor="let movie of movies" [value]="movie.id">{{ movie.title }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Actor</label>
        <div class="col-10">
            <select class="form-control" required [(ngModel)]="character.idActor" name="actor">
                <option *ngFor="let actor of actors" [value]="actor.id">{{ actor.firstName }} {{ actor.name }}</option>
            </select>
        </div>
    </div>
    <button type="button" [disabled]="isInvalid()" class="btn btn-primary pull pull-right" (click)="valider()">Valider</button>
</div>


acteur 
film
