<div class="container">
  
  <div class="form-group row">
    <h2 class="col-6">
      Liste des personnages
      <button type="button" class="btn btn-primary" (click)="load()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </h2>   
    <div class="col-2">
          <input class="form-control" type="text" [(ngModel)]="nameMovie" id="example-text-input" placeholder="Nom du film">
    </div>
    <div class="col-2">
        <input class="form-control" type="text" [(ngModel)]="nameActor" id="example-text-input" placeholder="Nom de l'acteur">
    </div>
    <div class="col-2">
        <input class="form-control" type="text" [(ngModel)]="name" id="example-text-input" placeholder="Nom du personnage">
    </div>
  </div>  


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom du film</th>
        <th>Nom de l'acteur</th>
        <th>Nom du personnage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters | filterByCharacter : nameMovie : nameActor : name">
        <td *ngIf="character.show">{{ character.film.title }}</td>
        <td *ngIf="character.show">{{ character.actor.firstName }} {{ character.actor.name }}</td>
        <td *ngIf="character.show">{{ character.name }}</td>
        <td *ngIf="character.show">
            <a class="btn btn-primary" href="#" role="button" (click)="edit(character.id)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a class="btn btn-danger" href="#" role="button" (click)="delete(character.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
      </tr>
    </tbody>
  </table>
</div>
  