<div *ngIf="director">
    <hr>
    <h2>{{ director.firstName }} {{ director.name }}</h2> 
    <hr>
    <hr>
    <h2>Liste des filmes réalisés : </h2>
    <hr>
    <span>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Categorie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies" >
            <td>{{ movie.title }}</td>
            <td>{{ movie.releaseDate }}</td>
            <td>{{ movie.category.name }}</td>
            </tr>
        </tbody>
        </table>
    </span>
</div>
