<div *ngIf="movie">
    <hr>
    <h2>{{ movie.title }}</h2> 
    <hr>
    <h5>{{ movie.budget }} euros de budget</h5>
    <h5>Durée : {{ movie.duration }} minutes</h5>
    <h5>{{ movie.grossing }} euros de bénéfice</h5> 
    <h5>Catégorie : {{ movie.category.name }}</h5> 
    <h5>Date de sortie : {{ movie.releaseDate }}</h5> 
    <h5>Réalisateur : {{ movie.director.firstName }} {{ movie.director.name }}</h5> 
    <hr>
    <h2>Liste des personnages/acteurs : </h2>
    <hr>
    <span>
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Personnage</th>
            <th>Acteur</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters" >
            <td>{{ character.name }}</td>
            <td>{{ character.actor.firstName }} {{ character.actor.name }}</td>
            </tr>
        </tbody>
        </table>
    </span>
</div>
