<div *ngIf="movie">
    <h2>{{ movie.title }}</h2> 
    <h3>{{ movie.budget }} euros de budget</h3>
    <h3>Durée : {{ movie.duration }} minutes</h3>
    <h3>{{ movie.grossing }} euros de bénéfice :</h3> 
    <h3>Catégorie : {{ movie.category.name }}</h3> 
    <h3>Date de sortie : {{ movie.releaseDate }}</h3> 
    <h3>Réalisateur : {{ movie.director.firstName }} {{ movie.director.name }}</h3> 
    <h2>Liste des personnages/acteurs : </h2>
    <span>
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Personnage</th>
            <th>Acteur</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters" >
            <td>{{ character.name }}</td>
            <td>{{ character.actor.firstName }} {{ character.actor.name }}</td>
            </tr>
        </tbody>
        </table>
    </span>
</div>
